.addteacher {
    .ant-input-affix-wrapper {
        margin-bottom: 10px;
        width: 280px;
        display: block;
    }

    .tishi {
        color: red;
    }

    .biaoti {
        height: 100%;
        font-size: 25px;
        margin-right: 20px;
        color: #1890ff;
    }
}