.tscore {
    th {
        width: 148px;
    }

    .feng {
        width: 100px;
    }

    td {
        .shu {
            width: 70px;

        }

        bottom {
            box-sizing: border-box;
            border: 1px solid rgb(100, 100, 100);
            width: 28px;
            height: 20.8px;
            background-color: #ccc;
            cursor: pointer;
            font-size: 10px;
            text-align: center;
            line-height: 20.8px;
        }
    }
}