.aspassword input {
    border: 1px solid #ccc;
    display: block;
    margin-top: 5px;
}

.aspassword .old,
.aspassword .reflush {
    margin-top: 10px;
}

.aspassword .ant-btn {
    margin-top: 15px;
}

.aspassword .d1-1 {
    margin-top: 5px;
    color: red;
    display: none;
}

.aspassword .ant-input-affix-wrapper {
    margin-bottom: 10px;
    width: 280px;
    display: block;
}

.aspassword .biaoti {
    height: 100%;
    font-size: 25px;
    margin-right: 20px;
    color: #1890ff;
}