.asm {
    .ant-input-affix-wrapper {
        width: 280px;
        float: left;
    }

    .ant-btn {
        margin-bottom: 17px;
        margin: 0;
        float: left;
    }

    .d2 {
        width: 350px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .title {
        font-weight: 700;
        font-size: 18px;
    }

    .h3 {
        float: left;
        font-weight: 700;
        font-size: 18px;
    }
}