th {
  width: 150px;
  text-align: center;
}
.name {
  width: 150px;
}
td {
  text-align: center;
  border: 1px solid #ccc;
  position: relative;
}
td input {
  margin: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.selectcourse .ant-spin-nested-loading {
  height: 275.2px;
}
.selectcourse .ant-table-body {
  height: 275.2px;
}
