input {
    border: 1px solid #ccc;
    display: block;
    margin-top: 5px;
}

.old,
.reflush {
    margin-top: 10px;
}

.ant-btn {
    margin-top: 15px;
}

.d1-1 {
    margin-top: 5px;
    color: red;
    display: none;
}